.btn-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1; /* Expansion proporcional del elemento relativamente */
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: #fff;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4x;
    cursor: pointer;
    user-select: none; /* Texto no seleccionable */
}

.btn-contenedor:hover {
    background-color: #5a01a7;
}

.operador {
    background-color: #00471b;

}
.operador:hover {
    background-color: #ff6600;
}