.input {
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end; /* Alineado a la derecha */
    align-items: center; /* Centro verticalmente */
    font-weight: bold;
    font-size: 30px;
    background-color: #0a0a23;
    color: #fff;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px 1px #fff;
}